/*  */

:root {
  --primary-blue: #545ae8;
  --secondary-blue: #0f90d1;
  --turtiary-blue: #048ecb;
  --primary-yellow: #ffd726;
  --secondary-yellow: #f0c933;
  --primary-orange: #fe753e;
  --primary-purple: #7252a5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Nunito + Sans, sans-serif;
  color: #555;
}
.the-whole-page {
  background-color: #f8f8f8;
  /* padding: 3rem 3.2rem 0 3.2rem; */
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.center-self {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.4rem;

  border: 2px solid var(--turtiary-blue);
  border-radius: 30px;
  padding: 1rem 3rem;
  color: var(--turtiary-blue);
}
.btn:active,
.btn:hover {
  background-color: var(--primary-blue);
  border: 2px solid transparent;
  color: #fff;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
.hidden {
  display: none;
}
/* ////////////////////////////// */
/* HEADER-SECTION */
/* ////////////////////////////// */
.navigation-section {
  background-color: #fff;
  padding: 1.5rem;
}
.header-section {
  margin-bottom: 13rem;
  padding-top: 5rem;
}
.navigation {
  justify-content: space-between;
}
.navigation-left {
  gap: 1rem;
}
.l-letter {
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2rem;
  color: #fff;
  background-color: var(--primary-blue);
  border-radius: 50%;
}
.menu {
  border: none;
  background: inherit;
  font-size: 3rem;
}
.navigation-middle {
  gap: 3rem;
}
.navigation-right {
  gap: 3rem;
}
.learing {
  color: var(--primary-blue);
  letter-spacing: 0.3rem;
  font-weight: 600;
}
.nav-link:link,
.nav-link:visited {
  font-size: 1.4rem;
  color: black;
}

.nav-link:active,
.nav-link:hover {
  color: var(--primary-blue);
  text-decoration: underline;
}

/* /////////////////////////////////////////////////////// */
.main-heading-container {
  margin-bottom: 3rem;
}
.main-heading {
  font-size: 6.2rem;
  color: black;
  margin-bottom: 3rem;
}

.head-big-1 {
  width: 40rem;
}
.head-text-1 {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}
.head-btns {
  gap: 3rem;
  justify-content: center;
  margin-bottom: 3rem;
}
.common-btn:link,
.common-btn:visited {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1.5rem 5rem;
  background-color: var(--primary-purple);
  border-radius: 30px;
  color: #fff;
}
.common-btn:active,
.common-btn:hover {
  background-color: var(--primary-blue);
}

.play-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--primary-yellow);
  color: #fff;
  font-size: 2.4rem;
  margin-right: 1rem;
}
.btn-h-2:link,
.btn-h-2:visited {
  cursor: pointer;
  text-decoration: none;
  background-color: #fff;
  font-size: 1.4rem;
  border-radius: 30px;
  padding: 0.5rem 3rem;
  font-weight: 700;
  color: #121212;
}
.btn-h-2:hover,
.btn-h-2:active {
  box-shadow: 2px 2px 2px #ccc;
}
ul {
  list-style: none;
  justify-content: space-between;
}
li {
  gap: 1rem;
}
.check-icon {
  width: 3rem;
  height: 3rem;
  color: #fff;
  background-color: var(--primary-purple);
  border-radius: 50%;
}
/* to add the other sections */

/*
1rem= 16px 
1rem=10px

*/
